<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<style type="text/css">
        a{
			text-decoration: none;
		    }
</style>
<body>
    <h2 style="background-color: antiquewhite;color:black;">常用石墨地址</h2>
    <a href = "https://shimo.im/sheet/9JirDUn1pPI1gnGj" target="_blank">每日日报</a>
    <hr />
    <a href = "https://shimo.im/sheet/hSHtVdNu6Acl8bIK" target="_blank">手机清单</a>
    <hr />
    <a href = "https://shimo.im/sheet/RYJjUIDIQv8z9WlJ" target="_blank">sim清单</a>

    <h2 style="background-color: antiquewhite;color:black;">测试论坛地址</h2>
    <a href = "https://testerhome.com/" target="_blank">TestHome</a>
    <hr />
    <a href = "http://bbs.51testing.com/forum.php" target="_blank">51testing论坛</a>
</body>
</html>